{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Parikh Hospital-Healing with Heart </title>

</head>

<body class="sub_page" style="background-color: white;">

  <!-- about section -->

  <section class="about_section layout_padding" style="background-color: white;">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Welcome to Parikh Hospital, where compassionate care meets cutting-edge medical excellence. At Parikh Hospital, we are dedicated to providing exceptional healthcare services to our community, making us a trusted name in healthcare for over three decades.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our <span>Mission</span>
              </h2>
            </div>
            <p>
              Our mission is simple yet profound: to improve the health and well-being of our patients through the provision of high-quality, accessible, and affordable healthcare services. We believe in treating each patient with the utmost care and respect, while continually striving for excellence in medical practice.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our Commitment to Quality
              </h2>
            </div>
            <p>
              Quality is the cornerstone of our healthcare services. We are committed to maintaining the highest standards of care and continually enhancing our medical expertise. Our team of experienced and highly skilled medical professionals, including renowned specialists and dedicated nursing staff, work collaboratively to ensure that you receive the best possible care.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Comprehensive Services
              </h2>
            </div>
            <p>
              We offer a comprehensive range of medical services, including general medicine, surgery, pediatrics, obstetrics and gynecology, cardiology, orthopedics, and more. Our dedicated departments focus on specific medical needs to ensure that you receive personalized care that addresses your unique health concerns </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Your Trusted Healthcare Partner
              </h2>
            </div>
            <p>
              Whether you need a routine check-up, specialized medical care, or emergency services, Parikh Hospital is your trusted healthcare partner. We are here to provide you with quality care that you can rely on. 
            </p>
             </div>
        </div>
      </div>
    </div>
    <br><br>
  </section>

  <!-- end about section -->



  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>


</html>
{% endblock %}