{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="">
      
        <title> Parikh Hospital-Healing with Heart </title>
      
      </head>
<body>
    <section class="about_section layout_padding" style="background-color: white;">
        ><div class="heading_container" style="align-items: center;">
            <h2>
              Our <span>Services</span>
            </h2>
          </div>
    <section class="about_section layout_padding" style="background-color: white;">
        ><div class="heading_container" style="align-items: center;">
            <h3>
              
Parikh Hospital offers a wide range of medical services, including but not limited to:
            </h3>
          </div>
          <br><br>
        <div class="container  ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="/static/images/about-img.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    General Medicine:
                  </h2>
                </div>
                <p> Our expert physicians provide comprehensive healthcare services to address a variety of health concerns.
                </p>
                
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container  ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="/static/images/about-img.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    Specialized Care: 
                </h2>
                </div>
                <p>  Our hospital is equipped to provide specialized care in areas such as cardiology, orthopedics, obstetrics, gynecology, and more.
                </p>
                
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container  ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="/static/images/about-img.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    
                    Surgical Excellence:
                  </h2>
                </div>
                <p>We have a team of skilled surgeons and advanced surgical facilities for both routine and complex procedures.
                </p>
                
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container  ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="/static/images/about-img.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    
                    Emergency Care:
                  </h2>
                </div>
                <p> Our 24/7 emergency department ensures that you receive immediate medical attention in times of crisis.
                </p>
                
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container  ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="/static/images/about-img.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    
                    Patient-Centered Care


                  </h2>
                </div>
                <p>We understand that every patient is unique, and we tailor our services to your specific needs. Our dedicated healthcare professionals work collaboratively to create personalized treatment plans and provide the highest standard of care.
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>
{% endblock %}